<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .card {
    width: 400px;
    height: 400px;
  }
  .row {
    display: flex;
  }

  .h1 {
    font-size: xx-large;
  }
</style>

<main class="main">
  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Latitude: {{ latitude }}</mat-card-title>
        <mat-card-title>Longitude: {{ longitude }}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <h1>{{ temperature }} {{ units }}</h1>
      <section>
        <h3>Unit selection</h3>
        <mat-button-toggle-group
          name="tempUnit"
          [value]="unitSelected"
          (change)="onUnitToggle($event.value)"
        >
          <mat-button-toggle value="c">Celsius</mat-button-toggle>
          <mat-button-toggle value="f">Fahrenheit</mat-button-toggle>
        </mat-button-toggle-group>
      </section>
    </mat-card-content>
  </mat-card>
</main>

<router-outlet />
